body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 0);
    font-family: 'DynaPuff', serif;
    flex-direction: column;
    margin: 0;
}

/* ===== Navigation ===== */
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(67, 23, 67);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 10;
}

/* ===== Game Container ===== */
.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 500px;
    /* prevents it from being too wide on big screens */
}

/* ===== Tic Tac Toe Grid ===== */
.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    aspect-ratio: 1 / 1;
    /* keeps grid square on all devices */
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    /* responsive font size */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(201, 225, 235);
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

/* ===== Game Info ===== */
.gameinfo {
    margin-top: 10px;
    text-align: center;
}

#reset {
    background-color: rgb(220, 191, 196);
    border: none;
    font-size: 15px;
    width: 60px;
    border-radius: 6px;
    cursor: pointer;
}

/* ===== Winning Animations ===== */
.win {
    animation: pop 0.6s ease-in-out infinite alternate;
    color: green;
    font-size: 30px;
}

@keyframes pop {
    0% {
        transform: scale(1);
        text-shadow: 0 0 5px #fff;
    }

    100% {
        transform: scale(1.2);
        text-shadow: 0 0 20px gold;
    }
}

.box.win-box {
    background-color: #90ee90;
    animation: glow 0.8s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px green;
    }

    to {
        box-shadow: 0 0 20px green;
    }
}

/* ===== Responsive adjustments ===== */
@media screen and (max-width: 500px) {
    .box {
        font-size: 15vw;
    }

    .gameContainer {
        width: 95vw;
    }
}